@model IEnumerable<WEBDOG.Data.DogKaroo>

@{
    ViewData["Title"] = "Дегельминтизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Дегельминтизация собак от эхинококкоза</h1>

 <a asp-action="Create" class="btn btn-primary">Добавить новый запись</a>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
               Антигельминтик
            </th>
            <th>
                Вес собак, КГ
            </th>
            <th>
                Кол. таблеток
            </th>
            <th>
                Комментарий
            </th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityDrug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id">Изменить</a>                
                <a  asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>

        </tr>
        
}
    </tbody>
    
</table>
