@model IEnumerable<WEBDOG.Data.DogKaroo>

@{
    ViewData["Title"] = "Дегельминтизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Дегельминтизация собак от эхинококкоза</h1>

<p>

    <a asp-action="CreateNew">Добавить новую дегельмитизацию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DrugId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityDrug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @Html.HiddenFor(modelItem => item.DogId)
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityDrug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>                
                <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary">Добавить</a>
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id">Изменить</a>                
                <a  asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
