@using WEBDOG.Data
@model IEnumerable<WEBDOG.Data.ViewDog>

@{
    ViewData["Title"] = "список";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список регистрированных собак</h1>

<p>
    <a asp-action="Create">Регистрировать новую собаку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoatoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAlive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoatoId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TagNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender, new SelectList(Enum.GetValues(typeof(Enums.GenderStatus))))                 
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlive, new SelectList(Enum.GetValues(typeof(Enums.LiveStatus))))               
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.id">Изменить</a> |@*
                <a  asp-action="Details" asp-route-id="@item.id">Подробнее</a> |*@
                <a  asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                @*<a class ="btn btn-link" asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                <a class ="btn btn-link" asp-action="Details" asp-route-id="@item.id">Подробнее</a> |
                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.id">Удалить</a>*@
            </td>
            <td>
                <a asp-action="Index" asp-controller="Karoo" asp-route-id="@item.id">Дегельминтизация</a>
                <a asp-action="Index" asp-controller="Daary" asp-route-id="@item.id">Вакцинация</a>
            </td>
        </tr>
}
    </tbody>
</table>