@using WEBDOG.Models
@using WEBDOG.Data
@model IndexViewModel

@{
    ViewData["Title"] = "список";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список регистрированных собак</h1>

<p>
    <a asp-action="Create">Регистрировать новую собаку</a>
     @using (Html.BeginForm())
     {    
        <p>
        Ведите номер собаки для поиска: @Html.TextBox("SearchDogs")  
         <input type="submit" value="Поиск" />
        </p> 

        <p>
        Выберите айыл для поиска: @Html.DropDownList("SearchAiyl", new SelectList(ViewBag.ListCoatIdOff,"Value","Text") ) 
         <input type="submit" value="Поиск" />
        </p> 

        @* <p>
        Ведите айыл для поиска: @Html.TextBox("SearchAiyl")  
         <input type="submit" value="Поиск" />
        </p> *@
        
     } 
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Аймак")
            </th>
            <th>
                 @Html.DisplayName("номер регистрации")
            </th>
            <th>
                 @Html.DisplayName("Дата создания")
            </th>
            <th>
                @Html.DisplayName("Ф.И.О. хозяина")
            </th>
            <th>
                @Html.DisplayName("Телефон")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th>
                 @Html.DisplayName("Имя собак")
            </th>
            <th>
              @Html.DisplayName("Цвет")
            </th>
            <th>
                @Html.DisplayName("Пол")
            </th>
            <th>
                @Html.DisplayName("Год рождение")
            </th>
            <th>
                @Html.DisplayName("Порода")
            </th>
            <th>
               @Html.DisplayName("Живность")
            </th>
            <th>
               @Html.DisplayName("Дата снятие из БД")
            </th>
            <th>
               @Html.DisplayName("Комментарий")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ViewDogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoatoId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TagNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender, new SelectList(Enum.GetValues(typeof(Enums.GenderStatus))))                 
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlive, new SelectList(Enum.GetValues(typeof(Enums.LiveStatus))))               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <a  asp-action="Edit" asp-route-id="@item.id">Изменить</a> |@*
                <a  asp-action="Details" asp-route-id="@item.id">Подробнее</a> |*@
                @*<a  asp-action="Delete" asp-route-id="@item.id">Удалить</a>*@
                @*<a class ="btn btn-link" asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                <a class ="btn btn-link" asp-action="Details" asp-route-id="@item.id">Подробнее</a> |
                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.id">Удалить</a>*@
            </td>
            <td>
                <a asp-action="Index" asp-controller="Karoo" asp-route-id="@item.id" target="_blank">Дегельминтизация</a>
                <a asp-action="Index" asp-controller="Daary" asp-route-id="@item.id" target="_blank">Вакцинация</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}