@model IEnumerable<WEBDOG.Data.DogDaary>

@{
    ViewData["Title"] = "Daary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Лечения бешенства</h1>
<a asp-action="Create" class="btn btn-primary">Добавить новый запись</a>

<table class="table">
    <thead>
 
         <tr>
                    
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Dose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameDar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a  asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
